<settings>
{% if proxy_enabled|bool %}
  <proxies>
    <proxy>
      <id>pandore</id>
      <active>true</active>
      <protocol>http</protocol>
      <host>{{proxy_host}}</host>
      <port>{{proxy_port}}</port>
      <username>{{proxy_login}}</username>
      <password>{{proxy_password}}</password>
      <nonProxyHosts>{{no_proxy|replace(",", "|")}}</nonProxyHosts>
    </proxy>
  </proxies>
{% endif %}
</settings>
