# Run ElasticSearch as this user ID and group ID
#ES_USER=elasticsearch
ES_USER={{ elasticsearch.user }}
#ES_GROUP=elasticsearch
ES_GROUP={{ elasticsearch.group }}

# Heap Size (defaults to 256m min, 1g max)
#ES_HEAP_SIZE=2g
ES_HEAP_SIZE={{ elasticsearch.config.memory.heap_size }}

# Heap new generation
#ES_HEAP_NEWSIZE=

# max direct memory
#ES_DIRECT_SIZE=

# Maximum number of open files, defaults to 65535.
#MAX_OPEN_FILES=65535
MAX_OPEN_FILES={{ elasticsearch.config.max_open_files }}

# Maximum locked memory size. Set to "unlimited" if you use the
# bootstrap.mlockall option in elasticsearch.yml. You must also set
# ES_HEAP_SIZE.
#MAX_LOCKED_MEMORY=unlimited
{% if elasticsearch_config_max_locked_memory is defined %}
MAX_LOCKED_MEMORY={{ elasticsearch_config_max_locked_memory }}
{% endif %}

# ElasticSearch log directory
LOG_DIR={{elasticsearch.log_dir}}

# ElasticSearch data directory
DATA_DIR={{elasticsearch.data_dir}}

# ElasticSearch work directory
WORK_DIR={{elasticsearch.work_dir}}

# ElasticSearch configuration directory
CONF_DIR={{elasticsearch.config.dirname}}

# ElasticSearch configuration file (elasticsearch.yml)
#CONF_FILE=/etc/elasticsearch/elasticsearch.yml

# Additional Java OPTS
{% if elasticsearch_config_java_opts is defined %}
ES_JAVA_OPTS="{{ elasticsearch_config_java_opts }}"
{% else %}
#ES_JAVA_OPTS=
{% endif %}

# Environment Vars
{% if elasticsearch_config_env_use_gc_logging is defined %}
export ES_USE_GC_LOGGING=true
{% endif %}
{% if elasticsearch_config_java_home is defined %}
JAVA_HOME={{ elasticsearch_config_java_home }}
{% endif %}
