export J2SDKDIR=/usr/lib/jvm/java-{{java_major_version}}-oracle
export J2REDIR=/usr/lib/jvm/java-{{java_major_version}}-oracle/jre
export PATH=$PATH:/usr/lib/jvm/java-{{java_major_version}}-oracle/bin:/usr/lib/jvm/java-{{java_major_version}}-oracle/db/bin:/usr/lib/jvm/java-{{java_major_version}}-oracle/jre/bin
export JAVA_HOME=/usr/lib/jvm/java-{{java_major_version}}-oracle
export DERBY_HOME=/usr/lib/jvm/java-{{java_major_version}}-oracle/db
